@font-face {
     font-family: 'Readex Pro';
     src: url(/fonts/ReadexPro-Medium.ttf) format('truetype');
     font-weight:500;
     font-style: normal;
}

@font-face {
    font-family: 'Readex Pro';
    src: url(/fonts/ReadexPro-SemiBold.ttf) format('truetype');
    font-weight:600;
    font-style: normal;
}

@font-face {
     font-family: 'Readex Pro';
     src: url(/fonts/ReadexPro-Regular.ttf) format('truetype');
     font-weight:400;
     font-style: normal;
}
@font-face {
     font-family: 'Readex Pro';
     src: url(/fonts/ReadexPro-Bold.ttf) format('truetype');
     font-weight:700;
     font-style: normal;
}
@font-face {
     font-family: 'readex pro';
     src: url(../fonts/Readexpro-Light.ttf) format('truetype');
     font-style: normal;    
     font-weight: 300;
}
@font-face {
     font-family: 'readex pro';
     src: url(../fonts/ReadexPro-ExtraLight.ttf) format('truetype');
     font-style: normal;    
     font-weight: 200;
}



    

body{
     margin: 0;
}

.main{
     padding: 0px 100px 0px 128px;
}

.head{
     width: 100%;
     height: 124px;
     background: #ffff;
     box-shadow: 0px 1px 15px rgba(21, 21, 21, 0.08);
     margin-bottom: 48px;
}
.m_head{
     margin-top: 37px;
     margin-left: 128px;
     height: 44px; 
}
.mg{
  padding: 0px 10px 0px 10px;
}
li.fnt-1{
    padding: 0px;
}
.fnt{
    color: #696767;
    
}
.topnav{
     font-family: 'Open Sans';
     display: inline-block;
     margin-left:50%;
}

.topnav,a {
     color:  #494949;
     padding: 14px 16px;
     text-decoration: none;
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     font-family:sans-serif;
}
.sumb {
     background:  #2A97E1;
     border-radius: 30px;
    padding: 4px 14px 5px 14px;
     color: white;
}

.sm-head{
     width: 100%;
     
     padding: 0px 0px 45px;
     gap: 27px;
     margin-top: 32px;
     border-bottom: #AFAFAF solid 1px;
}

.sm-head>ul>li{
     text-decoration: none;
     display: inline-flex;
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     
}

hr.ln-1 {
     width: 1256px;
     border: 0.5px solid #AFAFAF;
}
.fnt-1{
     font-family: 'Readex Pro';
     font-style: normal;
     font-size: 18px;
     color: #2A97E1;
}
.para{
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     color: #696767;
     margin: 0px;

}

h5.right{
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     
}
/* right div mid */
.doc{
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     color: #494949;
}
/* img and icon */
.pd{
  padding-left: 19px; 
}
.pm{
    padding-bottom: 20px;
}

/*img and icon stp */
.pmd-i{
    display: inline-flex;

}
.pdf{
    border-radius: 50px;
    border: 1px solid #2A97E1;
    background: #FFF;
    padding: 0px 0px 5px 13px;
    margin: 12px 19px 0px;
    width: 43px;
    height: 17px;
    display: block;
}
.dwn{
    color: #494949;
}



/* stoping div mid */
.lio{
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 600;
     font-size: 23px;
     color: #000000;
}
.li-1{
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     color: #494949;
     padding-left: 23px;
}

li-1>li::before {
     content: "\2022";
     color: #2A97E1;
    
     font-weight: bold;
   
     width: 1em;
     margin-left: -1em;
  }
 .li-a{
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     color: #494949;
 }

 .opt{
     
     width: 100%;
 }


/* .left>h4{
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     color: #494949;
} */
.h-2{
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 600;
    font-size: 28px;
     margin-bottom: 8px;
     
}
.rt-1{
     
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     color: #494949;
     margin: 0px;
     display: inline-block;
     width: 56%;
}
h3.he{
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 600;
     font-size: 28px;
}
.left{
     width: 47%;
     display: inline-block;
}
.right{
     width: 40%;
     display:inline-block;
     margin-left: 151px;
}

.sp{
     margin-left: 4px;
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 300;
     font-size: 28px;
     color: #C2C2C2;
     margin: 46px 0px 0;
     

}
.sp-1{
     margin-left: 4px;
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 500;
     font-size: 31px;
     margin: 10px 0 28px;
     color: black;
}
.nav{
     padding-left: 0px;
     
}
li::marker{
     color: #2A97E1;
     border-radius: 8px;
     width: 8px;
     
}

.pl{
     color: #000;
     font-size: 32px;
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 500;
     border-bottom: #AFAFAF solid 1px;
     padding-bottom: 23px;
     margin: 88px 0 0;
     
}
.rgt{
     
    width: 50%;
    display: inline-block;
    font-family: 'Readex pro';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    color: #494949;
}

.ser{
     color: #000;
     font-size: 28px;
     font-family: 'Readex Pro';
     font-style: normal;
    font-weight: 600;
}
.hed{
    margin-top: 46px;
    margin-bottom: 28px;
    color: #000;
    font-size: 32px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
}
.in{
    font-family: 'Readex Pro';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    color: #494949;
    display: inline-block;
    width: 40%;
    margin-top: 19px;
    margin-bottom: 19px;
}
.duo{
    
    border-bottom: #AFAFAF solid 1px;
}
.rt{
    font-family: 'Readex Pro';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    color: #494949;
    display: inline-block;
    width: 40%;
    margin: 0px;
}
.lg{
display: inline-flex;
padding: 19px 0px 24px;
border-bottom: #AFAFAF solid 1px;
}

.tr{
    color: #000;
    font-size: 32px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    border-bottom: #AFAFAF solid 1px;
    padding-bottom: 23px;
    margin: 46px 0 0;
}



.sat{
    padding: 19px 0px 19px;
    border-bottom: #AFAFAF solid 1px;
}
.st{
    font-family: 'Readex Pro';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    color: #494949;
    display: inline-block;
    width: 40%;
    margin: 0px;
}
.st-1{
    font-family: 'Readex Pro';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    color: #494949;
    display: inline-block;
    width: 50%;
    margin: 0px;
}
.hsm{
    padding: 19px 0px 19px;
    border-bottom: #AFAFAF solid 1px;
    display: inline-flex;
    margin-bottom: 43px;
}
.hm{
    font-family: 'Readex Pro';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    color: #494949;
    display: inline-block;
    width: 40%;
    margin: 0px;
}
.hm-1{
    font-family: 'Readex Pro';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    color: #494949;
    display: inline-block;
    width: 55%;
    margin: 0px;
}


.foot{
    padding: 0px 57px 0px 129px;
    background: linear-gradient(45deg,#2A97E1, #2490D9, #33A6F4, #64BCF8);
}
.lef-ft{
    width: 50%;
    display: inline-block;
    
    }
.ad{
     color: #FFF;
     font-size: 32px;
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 500;
     margin: 71px 0px 28px;
}
  .abt{
    color: #FFF;
    font-size: 18px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 200;
    padding-left: 0px;
  }
  

.pfo{
     color: #FFF;
     font-size: 32px;
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 500;
     margin: 90px 0px 0px;
}


.sb{
    padding: 8px 0px 0px;
}
.gy{
    color: #FFF;
font-size: 18px;
font-family: 'Readex Pro';
font-style: normal;
font-weight: 500;
margin: 24px 0px 0px;
}
.icon{
    margin: 69px 0px 0px;
}
.md{
    padding: 0px 27px 0px 0px;
}

.ls-m>ul>li{
    text-decoration: none;
    display: inline-block;
    color: #FFF;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}


ul.lst{
    padding-left: 0px;
    margin-bottom: 120px;
}
.lst-1{
    padding: 78px 30px 0px 0px; 
}
.lst-2{
    padding: 78px 29px 0px 0px;
}
.lst-3{
    padding: 78px 28px 0px 0px;
}




/* starting right footer */

.rig-ft{
    width:38%;
    display: inline-block;
    margin-left: 135px;
   

}
.gud{
    color: #FFF;
font-size: 32px;
font-family: 'Readex Pro';
font-style: normal;
font-weight: 500;
margin: 0px 0px 28px;
}
.que{
    margin-bottom: 18px;
}
.ggn{
     color: #FFF;
     font-size: 32px;
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 500;
     margin: 90px 0px 41px;
}

.bot{
    display: block;
    margin-top: 0px;
     margin-bottom: 8px;
     color: #FFF;
    font-size: 18px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 200;
}
.em{
     color: #FFF;
     font-size: 16px;
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 700;
}
.eml{
    width: 203px;
    height: 24px;
    border-radius: 10px;
    border: none;
    background: #FFF;
    margin: 23px 23px 20px  ;
}
.two{
    border-radius: 10px;
    background: #FFF;
    width: 447.665px;
    height: 64px;
    padding-bottom: 5px;
}
.bt{
     border-radius: 10px;
     background: rgba(59, 199, 243, 0.15);
     width: 120px;
     height: 55px;
     margin: 0px 0px 0px 61px;
     border: none;
     color: #2F2F2F;
     font-size: 16px;
     font-family:'Readex Pro';
     font-style: normal;
     font-weight: 400;

}
::placeholder{
     color: #777;
     font-size: 16px;
     font-family:'Readex Pro';
     font-style: normal;
     font-weight: 400;
}

