@font-face {
     font-family: 'Readex Pro';
     src: url(/fonts/ReadexPro-Medium.ttf) format('truetype');
     font-weight: 500;
     font-style: normal;
}

@font-face {
     font-family: 'Readex Pro';
     src: url(/fonts/ReadexPro-SemiBold.ttf) format('truetype');
     font-weight: 600;
     font-style: normal;
}

@font-face {
     font-family: 'Readex Pro';
     src: url(/fonts/ReadexPro-Regular.ttf) format('truetype');
     font-weight: 400;
     font-style: normal;
}

@font-face {
     font-family: 'Readex Pro';
     src: url(/fonts/ReadexPro-Bold.ttf) format('truetype');
     font-weight: 700;
     font-style: normal;
}

@font-face {
     font-family: 'readex pro';
     src: url(../fonts/Readexpro-Light.ttf) format('truetype');
     font-style: normal;
     font-weight: 300;
}

@font-face {
     font-family: 'readex pro';
     src: url(../fonts/ReadexPro-ExtraLight.ttf) format('truetype');
     font-style: normal;
     font-weight: 200;
}

* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box
}



body {
     margin: 0;
}

.main {
     padding: 0px 100px 0px 128px;
}

.nav-item-1 {
     background: #2490D9;
     border-radius: 50px;
}

.navbar-toggle {
     color: white;
}

.nav {
     margin: 48px 0px 46px;
     border-bottom: #AFAFAF solid 1px;
     padding-bottom: 45px;
}

.mg {
     padding: 0px 10px 0px 10px;
}

.dp-m {
     width: 176px;
     margin: 22px 0px 0px 146px;
}

/* footer*/
.que {
     margin-bottom: 52px;
}

.sp {
     color: #C2C2C2;
     font-family: "Readex Pro";
     font-size: 28px;
     font-style: normal;
     font-weight: 300;
}

.sp-1 {
     margin: 0px 0px 24px;
     font-family: "Readex Pro";
     font-size: 32px;
     font-style: normal;
     font-weight: 500;
}

.para {
     color: #494949;
     font-family: "Readex Pro";
     font-size: 18px;
     font-style: normal;
     padding-right: 67px;
     font-weight: 300;
     display: contents;

}

.list-card {
     margin: 46px 0px 0px 0px;
}

.list-card>ul {
     padding-left: 19px;
}

.list-card>h2 {
     margin: 0px 0px 28px 0px;
     color: #000;
     font-family: "Readex Pro";
     font-size: 32px;
     font-style: normal;
     font-weight: 600;
}

.h-2 {
     color: #000;
     font-family: "Readex Pro";
     font-size: 28px;
     font-style: normal;
     font-weight: 500;
     margin-bottom: 5px;
     margin-top: 101px;
}

.ser {
     margin: 46px 0px 46px;
}



.pd {
     padding-left: 19px;
}

.pm {
     padding-bottom: 20px;
}

/*img and icon stp */
.pmd-i {
     display: inline-flex;

}

.pdf {
     border-radius: 50px;
     border: 1px solid #2A97E1;
     background: #FFF;
     padding: 1px 16px 2px 15px;
     margin: 12px 19px 0px;
     width: 51px;
     height: 19px;
     display: block;
     font-size: 12px;
     color: #2A97E1;
}

.doc {
     margin-top: 46px;
     color: #494949;
     font-family: "Readex Pro";
     font-size: 18px;
     font-style: normal;
     font-weight: 300;
}

.right {
     padding-left: 70px;
}

.quest>div>h2 {
     padding: 0px 0px 23px 0px;
     margin-top: 46px;
}

.quest>div>p {
     margin: 19px 0px 19px 0px;

}

.quest>div {
     border-bottom: #AFAFAF solid 1px;
}

.left-pad {
     padding: 0px 15px 0px 0px;
}

.quest {
     padding-left: 15px;
}

.eml {
     width: 203px;
     height: 24px;
     border-radius: 10px;
     border: none;
     background: #FFF;
     margin: 23px 23px 20px;
}

.two {
     border-radius: 10px;
     background: #FFF;
     width: 447.665px;
     height: 64px;
     padding-bottom: 5px;
}

.bt {
     border-radius: 10px;
     background: rgba(59, 199, 243, 0.15);
     width: 120px;
     height: 55px;
     margin: 0px 0px 0px 61px;
     border: none;
     color: #2F2F2F;
     font-size: 16px;
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 400;

}

::placeholder {
     color: #777;
     font-size: 16px;
     font-family: 'Readex Pro';
     font-style: normal;
     font-weight: 400;
}

.foot {
     background: linear-gradient(#2A97E1, #2490D9, #33A6F4, #64BCF8);
     margin-top: 46px;
     padding: 71px 0px 0px 129px;

}

.abt {
     margin: 0px 0px 28px;
     font-family: 'Readex Pro';
     color: #FFF;
     font-family: "Readex Pro";
     font-size: 32px;
     font-style: normal;
     font-weight: 500;
}

/*   */
.top-footer>ul {
     color: #FFF;
     font-family: "Readex Pro";
     font-size: 18px;
     font-style: normal;
     font-weight: 200;
     list-style: none;
}

.foot-row>div>h2 {
     margin: 0px 0px 28px;
     color: #FFF;
     font-family: "Readex Pro";
     font-size: 32px;
     font-style: normal;
     font-weight: 500;
}

.foot-mid>div {
     margin: 90px 0px 0px 0px;
}

.foot-mid>div>h2 {
     color: #FFF;
     font-family: "Readex Pro";
     font-size: 32px;
     font-style: normal;
     font-weight: 600;
     margin-bottom: 24px;
}

li::marker {
     color: #2A97E1;
}


.foot-mid>div>span {
     margin: 24px 0px 65px 0px;
     color: #FFF;
     font-family: "Readex Pro";
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
}

.icn {
     margin-top: 34px;
     padding: 0px;

}

.icn>img {
     padding-right: 27px;
}

.terms-in>div>ul {
     display: inline-flex;
     color: #FFF;
     font-family: "Readex Pro";
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
}

.terms-in>div {
     padding: 19px 0px 0px 0px;
     margin: 35px 0px 32px 0px;
}

.terms-in>div>ul>li {
     padding-right: 31px;
     list-style: none;
}

.lst-1 {
     margin: 78px 30px 0px 0px;
}

.gud {
     color: #FFF;
     font-family: "Readex Pro";
     font-size: 32px;
     font-style: normal;
     font-weight: 500;
}

.e-mail>h5 {
     color: #FFF;
     font-family: "Readex Pro";
     font-size: 16px;
     font-style: normal;
     font-weight: 700;
     line-height: 32px;

}
